In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
url = 'https://raw.githubusercontent.com/stefmolin/Hands-On-Data-Analysis-with-Pandas-2nd-edition/master/ch_03/data/nyc_temperatures.csv'

In [6]:
df = pd.read_csv(url, sep=",")

In [10]:
weatherset = df

In [13]:
weatherset.columns

Index(['date', 'datatype', 'station', 'attributes', 'value'], dtype='object')

In [14]:
# rename column
weatherset.rename(columns={'value':'temp'}, inplace=True)

In [20]:
# checking data
weatherset.head()

        date datatype            station attributes  temp
0 2018-10-01     TAVG  GHCND:USW00014732      H,,S,  21.2
1 2018-10-01     TMAX  GHCND:USW00014732   ,,W,2400  25.6
2 2018-10-01     TMIN  GHCND:USW00014732   ,,W,2400  18.3
3 2018-10-02     TAVG  GHCND:USW00014732      H,,S,  22.7
4 2018-10-02     TMAX  GHCND:USW00014732   ,,W,2400  26.1

In [18]:
# checking type of data
weatherset.dtypes

date           object
datatype       object
station        object
attributes     object
temp          float64
dtype: object

In [19]:
'''
As you see, date has timestamp, different for analysis.
Okay, convert it to date time.
'''
df.loc[:, 'date'] = pd.to_datetime(weatherset.date)

In [21]:
'''
Order, sorting data with temp
but order by date in valid with column max
'''
weatherset.sort_values(by='temp', ascending=False).head(10)

         date datatype            station attributes  temp
19 2018-10-07     TMAX  GHCND:USW00014732   ,,W,2400  27.8
28 2018-10-10     TMAX  GHCND:USW00014732   ,,W,2400  27.8
31 2018-10-11     TMAX  GHCND:USW00014732   ,,W,2400  26.7
4  2018-10-02     TMAX  GHCND:USW00014732   ,,W,2400  26.1
10 2018-10-04     TMAX  GHCND:USW00014732   ,,W,2400  26.1
25 2018-10-09     TMAX  GHCND:USW00014732   ,,W,2400  25.6
1  2018-10-01     TMAX  GHCND:USW00014732   ,,W,2400  25.6
7  2018-10-03     TMAX  GHCND:USW00014732   ,,W,2400  25.0
27 2018-10-10     TAVG  GHCND:USW00014732      H,,S,  23.8
30 2018-10-11     TAVG  GHCND:USW00014732      H,,S,  23.4

In [24]:
weatherset[weatherset.datatype == 'TMAX'].sort_values(by=['date','temp'], ascending=False).head(10)

         date datatype            station attributes  temp
91 2018-10-31     TMAX  GHCND:USW00014732   ,,W,2400  17.8
88 2018-10-30     TMAX  GHCND:USW00014732   ,,W,2400  13.9
85 2018-10-29     TMAX  GHCND:USW00014732   ,,W,2400  14.4
82 2018-10-28     TMAX  GHCND:USW00014732   ,,W,2400  12.2
79 2018-10-27     TMAX  GHCND:USW00014732   ,,W,2400  11.7
76 2018-10-26     TMAX  GHCND:USW00014732   ,,W,2400  10.0
73 2018-10-25     TMAX  GHCND:USW00014732   ,,W,2400  11.1
70 2018-10-24     TMAX  GHCND:USW00014732   ,,W,2400  13.3
67 2018-10-23     TMAX  GHCND:USW00014732   ,,W,2400  19.4
64 2018-10-22     TMAX  GHCND:USW00014732   ,,W,2400  11.1

In [25]:
# That's good, what do sort column?
weatherset.sort_index(axis=1).head()

  attributes datatype       date            station  temp
0      H,,S,     TAVG 2018-10-01  GHCND:USW00014732  21.2
1   ,,W,2400     TMAX 2018-10-01  GHCND:USW00014732  25.6
2   ,,W,2400     TMIN 2018-10-01  GHCND:USW00014732  18.3
3      H,,S,     TAVG 2018-10-02  GHCND:USW00014732  22.7
4   ,,W,2400     TMAX 2018-10-02  GHCND:USW00014732  26.1